/* header annimanation */
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translatex(-10rem); }
  80% {
    transform: translate(-2rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translatex(10rem); }
  80% {
    transform: translate(2rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

/* button annimation */
@keyframes moveInButton {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

/* the universal selector * tells all browser to set your web page in a certain way in this case Margin padding to 0 */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

/*this is a global element so not typography
    
    makes calc easy for rem settings however setting px is bad pratice so set to % divive 10 px by 16px(standard browser 16 size so you get 62.5%*/
html {
  /* font-size: 10px; */
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  /* backface-visibility: hidden Stops the shake in annimations */
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
  .heading-primary--sub1 {
    margin-top: 5rem;
    display: block;
    font-size: 2rem;
    font-weight: 900;
    letter-spacing: 1.75rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out; }

body {
  font-family: "lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #777;
  /* this puts a border arount the entire web page */
  /* was 30 px change to rem 30/10 = 3 10 came from font size 10px above */
  padding: 3rem; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #0ad6f1, #0e75ebcb);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s; }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem black;
  transition: transform 0.3s; }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: .5rem;
    display: inline-block;
    background-image: linear-gradient(to right, #0ad6f1, #0e75ebcb);
    -webkit-background-clip: text;
    color: transparent; }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 20rem;
  /* transition property has to be on the INITIAL STATE */
  transition: all .2s;
  /* this need to be relative so that the child .btn::after is behind */
  position: relative;
  font-size: 1.6rem; }

.btn:hover {
  transform: translateY(-3px);
  /* first direction x second direction y third is blur */
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--annimated {
  /* animmation name duration timingstate delay */
  animation: moveInButton .5s ease-out .75s;
  /* animation-fill-mode: backwards prevents the button displayed until the timing delay starts; */
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #0bb5e9cb;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #0bb5e9cb;
  padding: 3px;
  transition: all .2s; }

.btn-text:hover {
  background-color: #0bb5e9cb;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4 rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all .2s;
    outline-offset: 2rem; }
    .composition__photo--p1 {
      left: 0;
      top: -1rem; }
    .composition__photo--p2 {
      right: 0;
      top: 2rem; }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
    .composition__photo:hover {
      outline: 1.5rem solid #0bb5e9cb;
      transform: scale(1.05);
      box-shadow: 0 2.5rem 4 rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.9); }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh; }

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(10, 214, 241, 0.8), rgba(14, 117, 235, 0.8)), url(../img/nat-4.jpg);
  background-size: cover;
  transform: skewY(-7deg); }
  .section-features > * {
    transform: skewY(7deg); }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem)/2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 *6rem)/3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 *6rem)/4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 *6rem)/4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 *6rem)/4) + 2 * 6rem); }

.header {
  height: 95vh;
  /* linear grad pramater 1 direction  parm 2 two colors (opacity is done with the color editor first slider when the slider opens maks sure you are on rgba) pram 3 the image */
  background-image: linear-gradient(to right bottom, rgba(10, 214, 241, 0.8), rgba(14, 117, 235, 0.8)), url(../img/sharks-feed.jpg);
  background-size: cover;
  background-position: top;
  /* header is the parent of logobox */
  position: relative;
  /* you have to define the 4 polygon coordinates top left is firts moving clockwise (vh is viewport height)*/
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }
  .header__logo-box {
    position: absolute;
    /* will position based on the parent which is header */
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 6.5rem; }
  .header__text-box {
    position: absolute;
    top: 40%;
    /* normally 50 % but because of wedge we will move text up to 40% welps with the illusion */
    left: 50%;
    /* transform -50% will center the text not based on parent but on the actual text */
    transform: translate(-50%, -50%);
    text-align: center; }
