h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Bold";
  color: #8dd3f5;
  text-align: center;
}
p {
  color: #8f8f8f;
  text-align: center;
}
.gallery{
  margin: 10px 150px;
}
.gallery img{
  transition: 1s;
  padding:15px;
  width: 200px;
}
.gallery img:hover{
  filter: grayscale(100%);

    transform:scale(1.1);
}
.back{
  text-align: center;
}
.btn-block {
  display: block;
  width: 100%;
}

.btn-lg {
  padding: .5rem 1rem;
  font-size: 1.251rem;
  line-height: 1.5rem;
  border-radius: .3rem;
}

.btn-group-lg {
  padding: .5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: .3rem;
}

.btn-outline-primary {
  color: #007bff;
  background-color: transparent;
  background-image: none;
  border-color: #007bff;
}

.btn {
  font-weight: 400;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;

  
}
