/*

0/*

0 - 600px:      Phone

600 - 900px:    Tablet portrait

900 - 1200px:   Tablet landscape

[1200 - 1800] is where our normal styles apply

1800px + :      Big desktop



$breakpoint arguement choices:

- phone

- tab-port

- tab-land

- big-desktop



ORDER: Base + typography > general layout + grid > page layout > components



1em = 16px

*/
/* header annimanation */
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translatex(-10rem); }
  80% {
    transform: translate(-2rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translatex(10rem); }
  80% {
    transform: translate(2rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

/* button annimation */
@keyframes moveInButton {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

/* the universal selector * tells all browser to set your web page in a certain way in this case Margin padding to 0 */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

/*this is a global element so not typography
    
    makes calc easy for rem settings however setting px is bad pratice so set to % divive 10 px by 16px(standard browser 16 size so you get 62.5%*/
html {
  /*  this defines what 1 rem is so a global element and not typography  font-size: 10px; */
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box;
  /* this puts a border arount the entire web page */
  /* was 30 px change to rem 30/10 = 3 10 came from font size 10px above */
  padding: 3rem; }
  body ::selection {
    background-color: #287fc5;
    color: #fff; }

body {
  font-family: "lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #777;
  /* this puts a border arount the entire web page */
  /* was 30 px change to rem 30/10 = 3 10 came from font size 10px above */ }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  /* backface-visibility: hidden Stops the shake in annimations */
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    text-shadow: 2px 1px black; }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--main {
        letter-spacing: 1rem;
        font-size: 5rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation-name: moveInRight;
    text-shadow: 1px 1px black; }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--sub {
        letter-spacing: .5rem; } }
  .heading-primary--sub1 {
    margin-top: 5rem;
    display: block;
    font-size: 2rem;
    font-weight: 900;
    letter-spacing: 1.75rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    text-shadow: 1px 1px black; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #84c7ee, #0644c0);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s;
  padding-top: 5rem; }
  @media only screen and (max-width: 56.25em) {
    .heading-secondary {
      padding-top: 15rem;
      font-size: 3rem;
      letter-spacing: .1rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.5rem; } }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 1.5rem;
  letter-spacing: .2rem; }

@media only screen and (max-width: 56.25em) {
  font-size: 3rem; }

@media only screen and (max-width: 37.5em) {
  font-size: 2.5rem; }

.paragraph {
  font-size: 1.6rem;
  margin-left: 1.5rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.heading-alternate {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #eee, #999);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .3rem;
  transition: all .2s; }
  .heading-alternate:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-mt {
  background-image: linear-gradient(to right, #84c7ee, #0644c0); }

.heading-color {
  background-image: linear-gradient(to right, #84c7ee, #0644c0);
  -webkit-background-clip: text;
  color: transparent; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
  margin-left: 3rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem  !important;
      margin-left: 2rem !important; } }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.btn {
  margin-bottom: 3rem; }
  .btn, .btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 20rem;
    
    /* transition property has to be on the INITIAL STATE */
    transition: all .2s;
    /* this need to be relative so that the child .btn::after is behind */
    position: relative;
    font-size: 1.6rem; }
  .btn:hover {
    transform: translateY(-3px);
    /* first direction x second direction y third is blur */
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .btn:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0; }
  .btn:active, .btn:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  .btn--white {
    background-color: #fff;
    color: #777; }
    .btn--white::after {
      background-color: #fff; }
  .btn--green {
    margin-top: 3rem;
    background-color: #287fc5;
    color: #fff; }
    .btn--green::after {
      background-color: #fff; }
  .btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s; }
  .btn--annimated {
    /* animmation name duration timingstate delay */
    animation: moveInButton .5s ease-out .75s;
    /* animation-fill-mode: backwards prevents the button displayed until the timing delay starts; */
    animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #287fc5;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #287fc5;
  padding: 3px;
  transition: all .2s; }

.btn-text:hover {
  background-color: #287fc5;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.rtn-home {
  margin-top: 20rem; }

  .composition {
    position: relative; }
    .composition__photo {
      width: 55%;
      box-shadow: 0 1.5rem 4 rem rgba(0, 0, 0, 0.4);
      border-radius: 2px;
      position: absolute;
      z-index: 10;
      transition: all .2s;
      outline-offset: 2rem; }
      @media only screen and (max-width: 56.25em) {
        .composition__photo {
          float: left;
          position: relative;
          width: 33.3333333%;
          box-shadow: 0 1.5 3rem rgba(0, 0, 0, 0.2); } }
      .composition__photo--p1 {
        left: 0;
        top: -1rem; }
        @media only screen and (max-width: 56.25em) {
          .composition__photo--p1 {
            top: 0rem;
            transform: scale(1.2); } }
      .composition__photo--p2 {
        right: 0;
        top: 2rem; }
        @media only screen and (max-width: 56.25em) {
          .composition__photo--p2 {
            top: -1rem;
            transform: scale(1.3);
            z-index: 100; } }
      .composition__photo--p3 {
        left: 20%;
        top: 10rem; }
        @media only screen and (max-width: 56.25em) {
          .composition__photo--p3 {
            top: 1rem;
            left: 0;
            transform: scale(1.1); } }
      .composition__photo:hover {
        outline: 1.5rem solid #287fc5;
        transform: scale(1.05);
        box-shadow: 0 2.5rem 4 rem rgba(0, 0, 0, 0.5);
        z-index: 20; }
    .composition:hover .composition__photo:not(:hover) {
      transform: scale(0.9); }

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all .3s;
  background-color: rgba(0, 0, 0, 0.3); }

.card {
  perspective: 250rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 58rem; }
  .card__side {
    font-size: 2rem;
    height: 58rem;
    transition: all .9s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 13px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      transform: rotateY(-180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
  .card:hover .card__side--front {
    transform: rotateY(180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../img/nat-5.jpg); }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url(../img/picnic.jpg); }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(../img/sea-splash.jpg); }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: #fff;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 70%; }
  .card__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.8), rgba(255, 119, 48, 0.8)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.8), rgba(86, 67, 250, 0.8)); }
  .card__details {
    padding: 3rem; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .card__price-box {
    text-align: center;
    color: #fff;
    margin-bottom: 8rem; }
  .card__price-only {
    font-size: 1.4rem;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 6rem;
    font-weight: 100; }
  @media only screen and (max-width: 56.25em), only screen and (hover: none) {
    .card {
      height: auto;
      border-radius: 3px;
      background-color: #fff;
      box-shadow: 0 1.5rem 4rem black; }
      .card__side {
        height: auto;
        position: relative;
        box-shadow: none; }
        .card__side--back {
          transform: rotateY(0);
          clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%); }
      .card:hover .card__side--front {
        transform: rotateY(0); }
      .card__details {
        padding: 1rem 3rem; }
      .card__cta {
        position: relative;
        top: 0%;
        left: 0%;
        transform: translate(0);
        width: 90%;
        padding: 7rem 4rem 4rem 4rem; }
      .card__price-box {
        margin-bottom: 3rem; }
      .card__price-value {
        font-size: 4rem; } }
  .card__resort {
    padding: 5rem; }

.instructor__corner {
  margin: 10rem 0;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem black;
  transition: transform 0.3s; }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem black;
  transition: transform 0.3s; }
  @media only screen and (max-width: 56.25em) {
    .feature-box {
      padding: 2rem; } }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: .5rem;
    display: inline-block;
    background-image: linear-gradient(to right, #84c7ee, #0644c0);
    -webkit-background-clip: text;
    color: transparent; }
    @media only screen and (max-width: 56.25em) {
      .feature-box__icon {
        margin-bottom: 0; } }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }

.btn {
  margin-bottom: 3rem; }
  .btn, .btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 20rem;
    /* transition property has to be on the INITIAL STATE */
    transition: all .2s;
    /* this need to be relative so that the child .btn::after is behind */
    position: relative;
    font-size: 1.6rem; }
  .btn:hover {
    transform: translateY(-3px);
    /* first direction x second direction y third is blur */
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .btn:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0; }
  .btn:active, .btn:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  .btn--white {
    background-color: #fff;
    color: #777; }
    .btn--white::after {
      background-color: #fff; }
  .btn--green {
    margin-top: 3rem;
    background-color: #287fc5;
    color: #fff; }
    .btn--green::after {
      background-color: #fff; }
  .btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s; }
  .btn--annimated {
    /* animmation name duration timingstate delay */
    animation: moveInButton .5s ease-out .75s;
    /* animation-fill-mode: backwards prevents the button displayed until the timing delay starts; */
    animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #287fc5;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #287fc5;
  padding: 3px;
  transition: all .2s; }

.btn-text:hover {
  background-color: #287fc5;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.rtn-home {
  margin-top: 20rem; }

.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.6rem;
  transform: skewX(-12deg); }
  @media only screen and (max-width: 56.25em) {
    .story {
      width: 100%;
      padding: 4rem;
      padding-left: 7rem; } }
  @media only screen and (max-width: 37.5em) {
    .story {
      transform: skewX(0); } }
  .story__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    transform: translateX(-3rem) skewX(12deg);
    position: relative;
    overflow: hidden;
    border-radius: 50%; }
    @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
      .story__shape {
        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        -webkit-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);
        border-radius: none; } }
    @media only screen and (max-width: 37.5em) {
      .story__shape {
        transform: translateX(-3rem) skewX(0); } }
  .story__img {
    height: 100%;
    transform: translateX(-1rem) scale(1.4);
    backface-visibility: hidden;
    transition: all .5s; }
  .story__img1 {
    height: 100%;
    transform: translateX(2rem) scale(1.4);
    backface-visibility: hidden;
    transition: all .5s; }
  .story__text {
    transform: skewX(12deg); }
    @media only screen and (max-width: 37.5em) {
      .story__text {
        transform: skewX(0); } }
  .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: #fff;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden; }
  .story:hover .story__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story:hover .story__img {
    transform: translateX(1rem) scale(1);
    filter: blur(3px) brightness(80%); }
  .story:hover .story__img1 {
    transform: translateX(1) scale(1);
    filter: blur(3px) brightness(80%); }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .15;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__group {
  margin: 5rem; }

.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
  transition: all .3s; }
  @media only screen and (max-width: 56.25em) {
    .form__input {
      width: 100%; } }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #287fc5; }
  .form__input:focus:invalid {
    border-bottom: 3px solid #ff7730; }
  .form__input::-webkit-input-placeholder {
    color: #999; }
  .form__input::-webkit-input-placeholder {
    color: #999; }

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
  transition: all .3s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.container {
  display: grid;
  grid-template-rows: 80vh min-content 40vh repeat(3, min-content);
  grid-template-columns: [sidebar-start] 16rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }

.section-about {
  background-color: #f7f7f7;
  padding: 20rem 0 20rem;
  margin-top: -20vh; }

.section-features {
  padding: 30rem 0;
  background-image: linear-gradient(to right bottom, rgba(132, 199, 238, 0.8), rgba(6, 68, 192, 0.8)), url(../img/nat-4.jpg);
  background-size: cover;
  transform: skewY(-7deg) translateY(-11rem); }
  .section-features > * {
    transform: skewY(7deg); }
  @media only screen and (max-width: 56.25em) {
    .section-features {
      padding: 10rem 0; } }

.section-photo {
  background-color: #f7f7f7;
  padding: 60rem 2.5rem 28rem 2.5rem;
  margin-top: -60vh; }
  @media only screen and (max-width: 56.25em) {
    .section-photo {
      padding: 55rem 0 30rem; } }
  @media only screen and (max-width: 37.5em) {
    .section-photo {
      padding: 40rem 0 30rem; } }

.section-tours {
  background-image: linear-gradient(to left top, #84c7ee, #0644c0);
  padding: 5rem 0 10rem 0; }

.section-stories {
  padding: 10rem 0;
  position: relative; }
  @media only screen and (max-width: 56.25em) {
    .section-stories {
      padding: 5rem 0; } }

.section-book {
  padding: 15rem;
  background-image: linear-gradient(to right bottom, #84c7ee, #0644c0); }
  @media only screen and (max-width: 56.25em) {
    .section-book {
      padding: 10rem 0; } }

.section-instructor {
  padding: 15rem; }

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../img/nat-10.jpg);
  background-size: auto;
  border-radius: 3PX;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2); }
  @media (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 125em) {
    .book {
      background-image: linear-gradient(to right bottom, rgba(132, 199, 238, 0.8), rgba(6, 68, 192, 0.8)), url(../nat-10.jpg); } }
  @media only screen and (max-width: 75em) {
    .book {
      background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 65%, transparent 65%), url(../img/nat-10.jpg);
      background-size: cover; } }
  @media only screen and (max-width: 56.25em) {
    .book {
      background-image: linear-gradient(to right, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 100%, transparent 0), url(../img/nat-10.jpg); } }
  .book__form {
    width: 50%;
    padding: 6rem; }
    @media only screen and (max-width: 75em) {
      .book__form {
        width: 65%; } }
    @media only screen and (max-width: 56.25em) {
      .book__form {
        width: 100%; } }

.section-moreTours {
  height: 1500rem;
  z-index: -1;
  margin: -23rem 0 25rem;
  background-image: linear-gradient(to left top, #fff, #eee);
  padding: 15rem 0 0 0; }
  @media only screen and (max-width: 56.25em) {
    .section-moreTours {
      padding: 30rem;
      margin-top: -30rem;
      max-height: 100%; } }
  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    .section-moreTours {
      -webkit-clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 100%);
      /* you have to define the 4 polygon coordinates top left is firts moving clockwise (vh is viewport height)*/
      clip-path: polygon(0 18%, 100% 0, 100% 100%, 0 100%);
      height: 120vh; } }

.section__colored {
  background-color: #39a6da;
  color: #999; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media only screen and (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media only screen and (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row:after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media only screen and (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media only screen and (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem)/2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 *6rem)/3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 *6rem)/4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 *6rem)/4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 *6rem)/4) + 2 * 6rem); }

.footer {
  background-color: #333;
  padding: 10rem 0;
  font-size: 1.4;
  color: #f7f7f7; }
  @media only screen and (max-width: 56.25em) {
    .footer {
      padding: 8rem 0; } }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 8rem; }
    @media only screen and (max-width: 56.25em) {
      .footer__logo-box {
        margin-bottom: 6rem; } }
  .footer__Logo__em {
    margin-bottom: 50rem; }
  .footer__navigation {
    border-top: 1px solid #777;
    padding-top: 2rem;
    display: inline-block; }
    @media only screen and (max-width: 56.25em) {
      .footer__navigation {
        width: 100%;
        text-align: center; } }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__link:link, .footer__link:visited {
    color: #777;
    background-color: #333;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all .2s; }
  .footer__link:hover, .footer__link:active {
    color: #287fc5;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    transform: rotate(5deg) scale(1.3); }
  .footer__copyright {
    border-top: 1px solid #777;
    padding-top: 2rem;
    width: 80%;
    float: right; }
    @media only screen and (max-width: 56.25em) {
      .footer__copyright {
        width: 100%;
        float: none; } }

.instructor {
  grid-column: center-start / center-end;
  margin: 15rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 7rem; }

.instruct {
  background-color: #f7f7f7;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 35px; }
  .instruct__img {
    width: 100%;
    grid-row: 1/2;
    grid-column: 1/-1;
    z-index: 1; }
  .instruct__like {
    grid-row: 1/2;
    grid-column: 2/3;
    fill: #287fc5;
    height: 2.5rem;
    width: 2.5rem;
    z-index: 2;
    justify-self: end;
    margin: 1rem; }
  .instruct__name {
    width: 80%;
    grid-row: 1/2;
    grid-column: 1/-1;
    z-index: 2;
    justify-self: center;
    align-self: end;
    font-size: 1.6rem;
    text-align: center;
    padding: 1.25rem;
    background-color: #ffb900;
    color: #fff;
    font-weight: 400;
    transform: translateY(50%); }
  .instruct__btn {
    display: grid;
    justify-self: center;
    align-self: center;
    grid-column: 1/-1; }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer; }
  @media only screen and (max-width: 56.25em) {
    .navigation__button {
      top: 4rem;
      right: 4rem; } }
  @media only screen and (max-width: 37.5em) {
    .navigation__button {
      top: 3rem;
      right: 3rem; } }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#84c7ee, #0644c0);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
  @media only screen and (max-width: 56.25em) {
    .navigation__background {
      top: 4.5rem;
      right: 4.5rem; } }
  @media only screen and (max-width: 37.5em) {
    .navigation__background {
      top: 3.5rem;
      right: 3.5rem; } }

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.navigation__list {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 220%;
  transition: all .4s; }
  .navigation__link:link span, .navigation__link:visited span {
    margin-right: 1.5rem;
    display: inline-block; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #287fc5;
  transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }

.navigation__icon {
  position: relative;
  margin-top: 3.5rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #333;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navigation__icon::before {
    top: -.8rem; }
  .navigation__icon::after {
    top: .8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

.pastTravel {
  grid-column: sidebar-start / full-end;
  margin: 15rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 3rem; }
  @media only screen and (max-width: 75em) {
    .pastTravel {
      font-size: 50%; } }
  .pastTravel .pastTravel-2 {
    grid-column: sidebar-start / center-end;
    margin: 15rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-gap: 5rem; }
  .pastTravel .pastTravel-3 {
    grid-column: center-start / center-end;
    margin: 15rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-gap: 5rem; }
  .pastTravel .pTravel {
    background-color: #f7f7f7;
    font-weight: 400;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 15px; }
    .pastTravel .pTravel__img {
      width: 100%;
      grid-row: 1/2;
      grid-column: 1/-1;
      z-index: 1; }
    .pastTravel .pTravel__like {
      grid-row: 1/2;
      grid-column: 2/3;
      fill: #287fc5;
      height: 2.5rem;
      width: 2.5rem;
      z-index: 2;
      justify-self: end;
      margin: 1rem; }
    .pastTravel .pTravel__name {
      width: 80%;
      height: 5rem;
      grid-row: 1/2;
      grid-column: 1/-1;
      z-index: 2;
      justify-self: center;
      font-size: 1.6rem;
      text-align: center;
      padding: 1.25rem;
      color: red;
      font-weight: 900; }
    .pastTravel .pTravel__location {
      padding-left: .5rem;
      font-weight: 900; }
    .pastTravel .pTravel__travlers {
      font-size: 2rem;
      padding-left: .5rem; }

.color {
  color: #f7f7f7; }

.header {
  height: 85vh;
  /* linear grad pramater 1 direction  parm 2 two colors (opacity is done with the color editor first slider when the slider opens maks sure you are on rgba) pram 3 the image */
  background-image: linear-gradient(to right bottom, rgba(132, 199, 238, 0.8), rgba(6, 68, 192, 0.8)), url(../img/sharks-feed.jpg);
  background-size: cover;
  background-position: top;
  /* header is the parent of logobox */
  position: relative; }
  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
      /* you have to define the 4 polygon coordinates top left is firts moving clockwise (vh is viewport height)*/
      clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
      height: 95vh; } }
  @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em), only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em), only screen and (min-width: 125em) {
    .header {
      background-image: linear-gradient(to right bottom, rgba(132, 199, 238, 0.8), rgba(6, 68, 192, 0.8)), url(../img/hero.jpg); } }
  @media only screen and (max-width: 37.5em) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
      /* you have to define the 4 polygon coordinates top left is firts moving clockwise (vh is viewport height)*/
      clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%); } }
  .header_logo-box {
    position: absolute;
    /* will position based on the parent which is header */
    top: 4rem;
    left: 4rem;
     }
  .header_logo {
    height: 6.5rem; 
    border-radius: .1%;}
  .header__text-box {
    position: absolute;
    top: 40%;
    /* normally 50 % but because of wedge we will move text up to 40% welps with the illusion */
    left: 50%;
    /* transform -50% will center the text not based on parent but on the actual text */
    transform: translate(-50%, -50%);
    text-align: center; }
  .header__mt {
    background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.8), rgba(236, 194, 8, 0.8)), url(../img/travel.jpg); }
  .header__cozumel {
    background-image: linear-gradient(to right bottom, rgba(255, 192, 203, 0.8), rgba(236, 194, 8, 0.8)), url(../img/camera.jpg); }
  .header__bonaire {
    background-image: linear-gradient(to right bottom, rgba(128, 0, 128, 0.8), rgba(236, 194, 8, 0.8)), url(../img/camera-2.jpg); }
  .header__PI {
    background-image: linear-gradient(to right bottom, rgba(255, 0, 0, 0.8), rgba(126, 213, 111, 0.8)), url(../img/camera-3.jpg); }
  .header__grandCayman {
    background-image: linear-gradient(to right bottom, rgba(255, 165, 0, 0.6), rgba(0, 0, 255, 0.8)), url(../img/camera-3.jpg); }
  .header__pt {
    display: grid;
    grid-column: 1/-1;
    background-image: linear-gradient(to right bottom, rgba(255, 0, 0, 0.8), rgba(126, 213, 111, 0.8)), url(../img/pastTravel.jpg); }
  .header__instructor {
    display: grid;
    grid-column: 1/-1;
    background-image: linear-gradient(to right bottom, rgba(132, 199, 238, 0.8), rgba(132, 199, 238, 0.8)), url(../img/knowledge1.jpg); }

    /* 
    ================================
        Best Viewed In Full Page
    ================================
*/

/* Hover over a card to flip, can tab too. 

@import url('https://fonts.googleapis.com/css?family=Lato');*/

/* default */
/*, */
/*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body */
/*body {
  min-height: 100vh;
  padding: 40px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  background: hsl(220, 10%, 12%);
  font-family: "Lato", "Segoe Ui", -apple-system, BlinkMacSystemFont, sans-serif;
}

/* .flip-card-container */
.flip-card-container {
  --hue: 150;
  --primary: hsl(var(--hue), 50%, 50%);
  --white-1: hsl(0, 0%, 90%);
  --white-2: hsl(0, 0%, 80%);
  --dark: hsl(var(--hue), 25%, 10%);
  --grey: hsl(0, 0%, 50%);

  width: 310px;
  height: 500px;
  margin: 40px;

  perspective: 1000px;
}

/* .flip-card */
.flip-card {
  width: inherit;
  height: inherit;

  position: relative;
  transform-style: preserve-3d;
  transition: .6s .1s;
}

/* hover and focus-within states */
.flip-card-container:hover .flip-card,
.flip-card-container:focus-within .flip-card {
  transform: rotateY(180deg);
}

/* .card-... */
.card-front,
.card-back {
  width: 100%;
  height: 100%;
  border-radius: 24px;

  background: var(--dark);
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;

  backface-visibility: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* .card-front */
.card-front {
  transform: rotateY(0deg);
  z-index: 2;
}

/* .card-back */
.card-back {
  transform: rotateY(180deg);
  z-index: 1;
}

/* figure */
figure {
  z-index: -1;
}

/* figure, .img-bg */
figure,
.img-bg {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}

/* img */
img {
  height: 100%;
  border-radius: 24px;
}

/* figcaption */
figcaption {
  display: block;

  width: auto;
  margin-top: 12%;
  padding: 8px 22px;

  font-weight: bold;
  line-height: 1.6;
  letter-spacing: 2px;
  word-spacing: 6px;
  text-align: right;

  position: absolute;
  top: 0;
  right: 12px;

  color: var(--white-1);
  background: hsla(var(--hue), 25%, 10%, .5);
}
.tripDate{
color: black;
position: absolute;
  top:75px;
 left: 12px;
 font-size: 15px;
}


/* .img-bg */
.img-bg {
  background: hsla(var(--hue), 25%, 10%, .5);
}

.card-front .img-bg {
  clip-path: polygon(0 20%, 100% 40%, 100% 100%, 0 100%);
}

.card-front .img-bg::before {
  content: "";

  position: absolute;
  top: 34%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(18deg);

  width: 100%;
  height: 6px;
  border: 1px solid var(--primary);
  border-left-color: transparent;
  border-right-color: transparent;

  transition: .1s;
}

.card-back .img-bg {
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 60%);
}

/* hover state */
.flip-card-container:hover .card-front .img-bg::before {
  width: 6px;
  border-left-color: var(--primary);
  border-right-color: var(--primary);
}

/* ul */
ul {
  padding-top: 50%;
  margin: 0 auto;
  width: 70%;
  height: 100%;

  list-style: none;
  color: var(--white-1);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* li */
li {
  width: 100%;
  margin-top: 12px;
  padding-bottom: 12px;

  font-size: 14px;
  text-align: center;

  position: relative;
}

li:nth-child(2n) {
  color: var(--white-2);
}

li:not(:last-child)::after {
  content: "";

  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 1px;

  background: currentColor;
  opacity: .2;
}

/* button */
button {
  font-family: inherit;
  font-weight: bold;
 
  color: var(--white-1);

  letter-spacing: 2px;

  padding: 9px 20px;
  border: 1px solid var(--grey);
  border-radius: 1000px;
  background: transparent;
  transition: .3s;

  cursor: pointer;
  position: absolute;
  top: 400px;
  left: auto;
}

button:hover,
button:focus {
  color: var(--primary);
  background: hsla(var(--hue), 25%, 10%, .2);
  border-color: currentColor;
}
.card__resort{
  color: var(--white-1);
  position: absolute;
  top: 50px;
  left: auto;
  font-weight: bold;
  font-size: 35px;
}
.from{
  color: var(--white-2);
  position: absolute;
  top: 200px;
  font-size: 70px;
  left: auto;
  
  font-size: larger; 
}
.price{
  color: var(--white-1);
  position: absolute;
  top: 250px;
  left: auto;
  font-weight: bold;
  font-size: 50px; 
} 

.contact{
  position: absolute;
  top: 500px;
 
  left: auto;
}

.offer{
  position: absolute;
  top: 470px;
  color: var(--white-1);
  left: auto;
}
}

button:active {
  transform: translate(2px);
}

/* .design-container */
.design-container {
  --tr: 90;
  --op: .5;

  width: 100%;
  height: 100%;

  background: transparent;
  position: absolute;
  top: 0;
  left: 0;

  pointer-events: none;
}

/* .design */
.design {
  display: block;

  background: var(--grey);
  position: absolute;

  opacity: var(--op);
  transition: .3s;
}

.design--1,
.design--2,
.design--3,
.design--4 {
  width: 1px;
  height: 100%;
  
}

.design--1,
.design--2 {
  top: 0;
  transform: translateY(calc((var(--tr) - (var(--tr) * 2)) * 1%))
}

.design--1 {
  left: 20%;
}

.design--2 {
  left: 80%;
}

.design--3,
.design--4 {
  bottom: 0;
  transform: translateY(calc((var(--tr) + (var(--tr) - var(--tr))) * 1%))
}

.design--3 {
  left: 24%;
}

.design--4 {
  left: 76%;
}

.design--5,
.design--6,
.design--7,
.design--8 {
  width: 100%;
  height: 1px;
}

.design--5,
.design--6 {
  left: 0;
  transform: translateX(calc((var(--tr) - (var(--tr) * 2)) * 1%));
}

.design--5 {
  top: 41%;
}

.design--6 {
  top: 59%;
}

.design--7,
.design--8 {
  right: 0;
  transform: translateX(calc((var(--tr) + (var(--tr) - var(--tr))) * 1%))
}

.design--7 {
  top: 44%;
}

.design--8 {
  top: 56%;
}

/* states */
button:hover+.design-container,
button:active+.design-container,
button:focus+.design-container {
  --tr: 20;
  --op: .7;
}

.abs-site-link {
  position: fixed;
  bottom: 20px;
  left: 20px;
  color: hsla(0, 0%, 100%, .6);
  font-size: 16px;
  font-family: 'Segoe UI', -apple-system, BlinkMacSystemFont, sans-serif;
}
