body {
  font-family: Montserrat, sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Bold";
  /* color: #8f8f8f; */
  color: #404969;
  /* color: rgba(0,0,0,.5); */
  text-align: center;
}
a{
  color: #8f8f8f;
}
p {
  color: #404969;
}
em{
color: #404969;
}


.divingH2{
  text-align: center;
}
.navbar{
  background-color: #39a6da;
}
.nav-link {
  font-family: "Montserrat-Light";
  font-size: 1.5rem;
}

/* containers */
.container-fluid {
  padding: 0,0,0,10px;
  text-align: left;
  background-color: #39a6da;
}

/* title section */
#title .container-fluid {
  padding: 3% 15% 15%;
}
.forward{
  z-index: 1; position:relative;
}
.shark1{
  position:relative;
  left:1100px;
  top:150px;
  width:10%;


}

.shark{
  position:relative;
  left:600px;
  top:10px;
  width:10%;
}
.diver{
  position:relative;
  width: 50%;
  background-color: #8dd3f5;
margin-top: 10px;
  left: 400px;
  bottom:0;
  width:50%;
  z-index: 1;
}

.otherShark{
  position:absolute;
  width:20%;

left: 10px;

}
/* sections */
.colored-section {
  background-color: #39a6da;
  color: white;
}

.white-section {
  color: black;
  background-color: white;
}

/* headings */
.big-heading {
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.5;
  padding-top: 50px;
  padding-left: 10px;
  text-shadow: 1px 1px Black;
}
.title1{
  font-family: "Montserrat-Black";
  font-size: 2.5rem;
  font-weight: 900;
  line-height: .1;
  padding-top: 10px;
  padding-left: 10px;
  text-shadow: 1px 1px Black;
}

.divingH2{
  padding-top: 20px;
  color: black;
}


.section-heading {
  font-size: 3rem;
  line-height: 1.5
}

.resize {
  height: 25rem;
}

/* navigation Bar */
.navbar {
  padding-top: 0 0 4.5rem 14.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
  padding: 0 0 0 0;
}

.nav-link {
  font-family: "Montserrat-Light";
  font-size: 1.5rem;
}

/* download Buttons */
.download-button {
  margin: 5% 3% 5% 0
}

.title-image {
  transform: rotate(25deg);
  width: 60%;
  position: absolute;
  right: 30%;
  margin-top: 50px;
}

/* <!-- Features --> */
#features {
  background-color: white;
  position: relative;
  z-index: 1;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  padding: 4.5%;
}

.icon {
  color: #8dd3f5;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #e4f8f6;
}

/* testimonial */
#testimonials {
  background-color: #39a6da;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* <!-- Press --> */
#press {
  background-color: #e4f8f6;
}
/* photo section */
#photos{
  margin-top: 40px;
}
.fish{
  position: relative;
bottom: 20PX;
margin-top: 40px;
  width:50%;
}

/* pricing section */
#pricing {
  padding: 100px;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

.carousel-inner {
  padding: 7% 15%;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-lg {
  padding: .5rem 1rem;
  font-size: 1.251rem;
  line-height: 1.5rem;
  border-radius: .3rem;
}

.btn-group-lg {
  padding: .5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: .3rem;
}

.btn-outline-primary {
  color: #007bff;
  background-color: transparent;
  background-image: none;
  border-color: #007bff;
}

.btn {
  font-weight: 400;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
}

/* call to action */
/* footer section */
.Copyright {
  padding-top: 20px;
}

.footer-font {
  margin: 30px 10px 0 10px;
}
.VAS-logo{
  width: 10%;

}
#photoGal{
  background-color: #e4f8f6;
}
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 280px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}
/* lightbox */
.lightbox{
  width: 90%;
}
.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Create four equal columns that floats next to eachother */
.column {
  float: left;
  width: 25%;
}



/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: black;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.demo{
  width:90%;
}

/* gallery */
.gallery{
  margin: 10px 150px;
}
.gallery img{
  transition: 1s;
  padding:15px;
  width: 200px;
}
.gallery img:hover{
  filter: grayscale(100%);

    transform:scale(1.1);
}
.back{
  margin-left: 40%;
margin-right: 40%;
/* vertical-align: middle; */
width: 15%;

}
.pastTravel{
  font-size: 12px;
}
.yoga{
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: red;
}
.NCDFlag{
  margin-top: 20px;
}
.stuff{
margin-left: 140px;
text-align: left;
}
